html{
  background-color: DarkSeaGreen;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: white;
}

blockquote {
  background-color: #480606;
  color: white;
}
.hyperLink {
  color: green;
  text-decoration: none;
}

#scoreBoard {
  border: 7px solid red;
  text-align: center;
}

#scoreBoard th {
  color: coral;
}

#teamRoster ul {
  list-style-type: square;
}

#checkbox-grid{
  list-style-type: none;
}

#teamRoster ul{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-position: 4%;
  background-repeat: no-repeat;
  background-size: contain;

}
ul#teamRoster ul:last-child{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-position: 4%;
  background-repeat: no-repeat;
  background-size: contain;
}
